<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.ktds.metadx.member.mapper.MemberMapper">
    <!-- 회원가입 -->
    <insert id="saveMember">
        INSERT INTO member
        (email, mpw, mname, dno, jno, tno)
        VALUES (#{email}, #{mpw}, #{mname}, #{dno}, #{jno}, #{tno})
    </insert>

    <!-- 로그인 -->
    <select id="loginMember" resultType="com.ktds.metadx.member.dto.MemberDTO">
        SELECT *
        FROM member
        WHERE email = #{email}
        AND mpw = #{mpw}
    </select>
  </mapper>