<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<div layout:fragment="content">
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Board Read
                    <div>
                        <span>[[${detailPost.bno}]]</span>
                    </div>
                    <div>
                        <span>[[${detailPost.title}]]</span>
                    </div>
                    <div>
                        <span>[[${detailPost.content}]]</span>
                    </div>
                    <div>
                        <span>[[${detailPost.regDate}]]</span>
                    </div>
                    <div>
                        <span>[[${detailPost.modDate}]]</span>
                    </div>
                    <div>
                        <span>[[${detailPost.isFiles}]]</span>
                    </div>
                    <a href="#">수정</a>
                    <a href="#">삭제</a>
                </div>
            </div>
        </div>
    </div>
</div>


<script layout:fragment="script" th:inline="javascript">


</script>